.chapter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disappear {
    display: none;
}

/* .appear {
    display: inline;
} */

.helpPopup {
    align-self: start;
    border: solid 1px black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}


/* ATTENTION, CECI DOIT ETRE CREE EN MODULES PAR LA SUITE, IL CONCERNE SELECTCHARACTERISTICS */

#characForm {
    display: flex;
}

#inne, #acquis {
    display: flex;
    flex-direction: column;
}


/* ATTENTION, CECI DOIT ETRE CREE EN MODULES PAR LA SUITE, IL CONCERNE FOURTCHAPTERSHEETS */

#textarea-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textarea-fourth {
    padding: 1em 2.5em;
}